body, html {
    margin: 0;
    font-family: sans-serif;
}
body{
    background-image:url(/static/images/bac.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;  
}

.content {
    margin: 0 auto;
    width: 750px;
}

table, td, th {
    border: 2px solid rgb(21, 19, 49);
}

table {
    border-collapse: collapse;
    width: 100%;
    background-color:rgb(165, 229, 245);
}

th {
    height: 30px;
}

td {
    text-align: center;
    padding: 5px;
}

.form{
    margin-top: 20px;
    margin-left: 100px;
    background-color: aquamarine;
    border: 3px solid rgb(238, 8, 8);
    width: 500px;
}
input{
    margin:7px;
}
h3{
    margin: 10px;
}

#content,#quantity {
    width: 70%;
}
#button {
    width: 30%;
    background-color: brown;
    color: aliceblue;
    
}